<footer id="footer" class="overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="footer-top-area">
          <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-sm-6 pb-3">
              <div class="footer-menu">
                <img src="{{ asset('static/images/relogo.png') }}" alt="logo">
                <p>Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit. Gravida massa volutpat aenean odio erat nullam fringilla.</p>
                <div class="social-links">
                  <ul class="d-flex list-unstyled">
                    <li>
                      <a href="#">
                        <svg class="facebook">
                          <use xlink:href="#facebook" />
                        </svg>
                      </a>
                    </li>
                    <!-- Add other social media icons here with appropriate asset references -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- Add other footer content here with appropriate asset references -->
          </div>
        </div>
      </div>
    </div>
    <hr>
  </footer>
  <div id="footer-bottom">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-md-4 col-sm-6">
          <div class="Shipping d-flex">
            <p>We ship with:</p>
            <div class="card-wrap ps-2">
              <img src="{{ asset('static/images/dhl.png') }}" alt="DHL">
              <!-- Add other shipping card images here with appropriate asset references -->
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="payment-method d-flex">
            <p>Payment options:</p>
            <div class="card-wrap ps-2">
              <img src="{{ asset('static/images/visa.jpg') }}" alt="Visa">
              <!-- Add other payment card images here with appropriate asset references -->
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="copyright">
            <p>© Copyright 2023 Recommerce.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ asset('static/js/jquery-1.11.0.min.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="{{ asset('static/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('static/js/plugins.js') }}"></script>
  <script type="text/javascript" src="{{ asset('static/js/script.js') }}"></script>
</body>
</html>
